/**
 * Helper mixins
*/

// Clearfix
// http://www.cssmojo.com/latest_new_clearfix_so_far/
// Other clearfix options: https://github.com/stubbornella/oocss/blob/master/oocss/src/components/utils/_clearfix-me.scss
@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

// Media queries
@mixin bp($point) {
  @if $point == large {
    @media (min-width: 1280px) { @content; }
  } @else if $point == small {
    @media (max-width: 1279px) { @content; }
  }
}

// Text selection
@mixin text-selection($color-selection, $color-selection-bg) {
  ::-moz-selection { // sass-lint:disable-line no-vendor-prefixes
    background: $color-selection-bg;
    color: $color-selection;
    text-shadow: none;
  }

  ::selection {
    background: $color-selection-bg;
    color: $color-selection;
    text-shadow: none;
  }
}

//Placeholders
//Usage:
//@include placeholder;
@mixin placeholder {
  // sass-lint:disable no-vendor-prefixes
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

//--------------------
// SCSS MIXINS
//--------------------



//FLEXBOX
//----------------------------------------

@mixin center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  
  @mixin center-between-column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  
  @mixin center-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  
  @mixin center-center-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  @mixin center-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
  }
  
  @mixin center-end-column {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
  }
  
  @mixin center-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
  }
  
  @mixin center-start-column {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
  
  @mixin end-between {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
  }
  
  @mixin end-between-column {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
  }
  
  @mixin end-center {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
  }
  
  @mixin end-center-column {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
  }
  
  @mixin end-end {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
  }
  
  @mixin end-end-column {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
  }
  
  @mixin start-between {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
  }
  
  @mixin start-between-column {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }
  
  @mixin start-center {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
  }
  
  @mixin start-center-column {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  
  @mixin start-end {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: row;
  }
  
  @mixin start-end-column {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
  }
  
  @mixin end-start {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: row;
  }
  
  @mixin end-start-column {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
  }
  
  @mixin start-start {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
  }
  
  @mixin start-start-column {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
  