body {
  background: $body-background-color;
  color: $foreground-color;
  font-family: 'DINP-R', arial, serif;
  font-size: 1.3em;
}

header {
  position: absolute;
  width: 100%;
}

.bv-desc {
  margin-bottom: 2rem;
  text-align: center;
}

.bv-birds {
  width: 5rem;
  @media (min-width: #{$screen-xl}) {
    width: 8rem;
  }

}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  @include center-center;



  .background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
 

}

.bv-title-heading {
  text-align: center;
}


.footer__inner {
  padding: 1rem;
  text-align: center;
  font-size: 0.6rem; 

  @media (min-width: #{$screen-lg}) {
    font-size: 0.8rem; 
  }
  
  a {
    color: var(--white);
  }
}

.centered {
  @include center-center-column;
  max-width: 85%;

  @media (min-width: #{$screen-xl}) {
    max-width: 60%;
  }
}

.badges {
  line-height: .5em;

  img {
    display: inline;
  }

  h6 {
    font-size: .5em;
  }
}



address {
  color: $accent-color;
}

pre {
  margin: 10px;
  padding: 20px;

  code {
    display: block;
    background: $body-background-color;
    color: $white;
    padding: 10px;
    border-left: 6px solid $link-color;
  }
}

.logo {
  margin: 2rem auto;
  display: block;
  width: 10rem;
}

ul {
  list-style-type: square;
  list-style-position: inside;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

ul ul,
ol ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 15px;
}

ol ol,
ul ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-left: 15px;
}

blockquote {
  background: $light-gray;
  border-left: 4px solid $link-color;
  border-radius: 3px;
  margin: 10px 0;
  padding: 10px 10px 10px 20px;
}

code {
  font-family: Consolas, 'courier new';
  color: $link-color;
  background-color: $light-gray;
  padding: 2px;
  font-size: 1em;
  border-radius: 3px;
}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  color: var(--white);
  position: absolute;
}

.github-corner:hover {
  .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

@keyframes octocat-wave {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(-25deg);
  }

  40% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(-25deg);
  }

  80% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 500px) {
  .github-corner {
    &:hover {
      .octo-arm {
        animation: none;
      }
    }

    .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
    }
  }
}


